.user-details {
  position: absolute;
  width: 480px;
  height: 752px;
  left: 480px;
  top: 0px;

  background: #ffffff;
  box-shadow: 6.54397px 6.54397px 6.54397px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 20px 20px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
