$first-color: #f28244;
$primary-color: #092d60;
$third-color: #ffffff;
$fourth-color: #dddddd;
$text-color: #282828;
$btn-color: #ff5757;

$dark-border: #313131;
$dark-text: #6d6d6d;
$dark-headings: #afafaf;
$dark-bg: #101010;
